[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
input.ng-invalid.ng-dirty{border-color: red}
.padWide {
    padding-left: 16px;
    padding-right: 16px;
}

.width50p {
    width: 50%;
}

.width100px {
    width: 100px !important;
}
.skiny-input {
    height: 25px;
    margin-left: 4px;
    display: inline-block;
    padding: 0 4px;
}

.padL8 {
    padding-left: 8px
}
.padB16 {
    margin-bottom: 16px
}

.marginR8 {
    margin-right: 8px
}


.under {
    border-bottom: 1px solid #00bfff;
    margin-bottom: 4px;
}

.large {
    font-size: 16px;
}
.small {
    font-size: 10px
}

.note {
  display: inline-block;
    text-align: left;
  height: 265px;
  padding: 16px 20px;
  position: relative;
  vertical-align: text-top;
  width: 160px;
}
.note div{ padding-top: 16px;}
.note-yellow {background: url(../images/note-yellow.png) no-repeat;}
.note-blue {background: url(../images/note-blue.png) no-repeat;}
.note-orange {background: url(../images/note-orange.png) no-repeat;}
.note-green {background: url(../images/note-green.png) no-repeat;}
.prj .text-primary{color: white}
input.small-input{ width: 150px;}

.todo .p-0 {background: #FF0a00}
.todo .p-1 {background: #FF4600}
.todo .p-2 {background: #FF6e00}
.todo .p-3 {background: #FF6e00}
.todo .p-4 {background: #FF9600}
.todo .p-5 {background: #FFbe00}
.todo .p-6 {background: #FFf000}
