[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
input.ng-invalid.ng-dirty{border-color: red}
.padWide {
    padding-left: 16px;
    padding-right: 16px;
}

.width50p {
    width: 50%;
}

.width100px {
    width: 100px !important;
}
.skiny-input {
    height: 25px;
    margin-left: 4px;
    display: inline-block;
    padding: 0 4px;
}

.padL8 {
    padding-left: 8px
}

.pad8 {padding: 8px}
.pad4 {
    padding: 4px ;
}
.padB16 {
    margin-bottom: 16px
}

.marginR8 {
    margin-right: 8px
}


.under {
    border-bottom: 1px solid #00bfff;
    margin-bottom: 4px;
}

.large {
    font-size: 16px;
}
.small {
    font-size: 10px
}

.note {
  display: inline-block;
    text-align: left;
  height: 265px;
  padding: 16px 20px;
  position: relative;
  vertical-align: text-top;
  width: 160px;
}
.note div{ padding-top: 16px;}
.note-yellow {background: url(../images/note-yellow.png) no-repeat;}
.note-blue {background: url(../images/note-blue.png) no-repeat;}
.note-orange {background: url(../images/note-orange.png) no-repeat;}
.note-green {background: url(../images/note-green.png) no-repeat;}
.prj.panel-primary .text-primary{color: white}
input.small-input{ width: 150px;}
.new-todo{ margin-bottom: 8px;}
.todo li{color: white}
.todo .p-0  { background: #ff0000; }
.todo .p-1  { background: #FF4600;}
.todo .p-2  { background: #FF5000;}
.todo .p-3  { background: #FF5a00;}
.todo .p-4  { background: #FF6400;}
.todo .p-5  { background: #FF6e00;}
.todo .p-6  { background: #FF7800;}
.todo .p-7  { background: #FF8200;}
.todo .p-8  { background: #FF8c00;}
.todo .p-9  {background: #FF9600}
.todo .p-10 {background: #FFa000}
.todo .p-11 {background: #FFaa00}
.todo .p-12 {background: #FFb400}
.todo .p-13 {background: #FFbe00}
.todo .p-14 {background: #FFc800}


/*.todo .p-0 { background: #0500ff; color: white}
.todo .p-1 { background: #0064ff; color: white}
.todo .p-2 {background: #0064ff}
.todo .p-3 {background: #0094ff}
.todo .p-4 {background: #00c4ff}
.todo .p-5 {background: #00e4ff}
.todo .p-6 {background: #00e4ff}*/
.graph {
	height: 300px; 
	min-width: 310px; 	
	margin: 0 auto;
}