@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}

<div id="wrap" ng-app="timeTracker">
    <div ng-controller="StatsController">
        <div class="row">
            <div class="row well-sm">
                <div class="col-lg-offset-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div data-toggle="btn" class="btn-group">
                        <button class="btn btn-sm btn-primary" ng-class="{'active':(filter=='today')}" ng-click="setFilter('today')">Today</button>
                        <button class="btn btn-sm btn-primary" ng-class="{'active':(filter=='week')}" ng-click="setFilter('week')">This Week</button>
                        <button class="btn btn-sm btn-primary" ng-class="{active:(filter=='last')}"  ng-click="setFilter('last')" >Last Week</button>
                        <button class="btn btn-sm btn-primary" ng-class="{active:(filter=='month')}" ng-click="setFilter('month')">This Month</button>       
                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <strong> {{reportTitle}} stats</strong>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <table class="table table-striped " ng-cloak>
                                    <tr>
                                        <th>Project</th>
                                        <th>Rate</th>
                                        <th>Time </th>
                                        <th class="text-right"> Total </th>
                                    </tr>
                                    <tr ng-repeat="s in stat">
                                        <td>{{s.title}}</td>
                                        <td>{{s.rate | currency }} </td>
                                        <td>{{s.elapsed | number }} hrs</td>
                                        <td class="text-right">{{s.total | currency }} </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td><strong> {{weekTotalHours}} hours</strong></td>
                                        <td class="text-right text-success"><strong> {{weekTotalAmount | currency }}</strong> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
             
            </div>
        </div>




    </div>
</div>
@section scripts
{
    <script src="~/app/stats-app.js"></script>
    <script src="~/app/controllers/StatsController.js"></script>
    <script src="~/app/services/globals.js"></script>
    <script src="~/app/services/modelsService.js"></script>
    <script src="~/app/services/projectService.js"></script>
    <script src="~/app/services/projectCommandService.js"></script>
    <script src="~/app/controllers/ProjectController.js"></script>
    <script src="~/app/directives/escKey.js"></script>
    <script src="~/app/services/statsService.js"></script>
}
